$navbar-bg: darken(white, 15%);
$navbar-txt: lighten(black, 10%);
$body-bg: lighten(black, 10%);
$body-txt: darken(white, 15%);

a, a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@mixin font-custom {
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.font-custom, .btn-custom, .badge-custom {
    @include font-custom;
    font-size: 0.75em;
}

@mixin border-custom {
    border: 1px solid $body-txt;
    border-radius: 5px;
}

.btn-custom, .badge-custom {
    border-radius: 5px;
}

.input-custom, .btn-custom, .badge-custom {
    padding: 5px 10px;
}

.card-body { margin-bottom: 20px; }

.input-custom, .card-body, .btn-custom:hover { @include border-custom; }

body, .btn-custom:hover, .input-custom, .card, .modal-content, .dropdown-item:hover {
    background-color: $body-bg;
    color: $body-txt;
}

.navbar, .btn-custom, .badge-custom {
    background-color: $navbar-bg;
    color: $navbar-txt;
}

.heading1, .heading2, .heading3 { font-weight: bold; }
.heading1 { font-size: 2.5em; }
.heading2 { font-size: 1.5em; }
.heading3 { font-size: 1em; }
