:root {
    --navbar-bg: white;
    --navbar-txt: black;
    --body-bg: black;
    --body-txt: white;
}

.alt-theme {
    --navbar-bg: black;
    --navbar-txt: white;
    --body-bg: white;
    --body-txt: black;
}

.badge-custom, .btn-custom {
    color: var(--navbar-txt) !important;
    background-color: var(--navbar-bg);
}

.card {
    border: 0;
}

.note-card, .link-card, .folder-card {
    margin-top: 25px;
    border: 3px solid var(--body-txt);
    border-radius: 10px;
    padding: 20px;
}

.navbar, .dropdown-item:hover {
    background-color: var(--navbar-bg);
    color: var(--navbar-txt);
}

body, .card, .modal-content, .form-control, .dropdown-menu {
    color: var(--body-txt) !important;
    background-color: var(--body-bg) !important;
}

.link, .link:hover, .dropdown-item {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}