a, a:hover {
    color: inherit !important;
    text-decoration: none;
    cursor: pointer;
}

body, .modal-content, .dropdown-menu {
    background-color: #1a1a1a;
    color: white;
}

.form-control, .form-control:focus {
    background-color: inherit;
    color: inherit;
    border: 0;
    border-radius: 0;
    border: 1px solid;
}

input[type="color"] {
    width: 2em;
    height: inherit;
    border: 0;
    padding: 0;
}

.CodeMirror, .editor-preview, .editor-toolbar {
    background-color: #303030 !important;
    color: white !important;
}

.fa {
    color: white !important;
}