:root {
    --primary-bg-color: #546A7B;
    --secondary-bg-color: #0D1F2D;
    --primary-txt-color: #0D2130;
    --secondary-txt-color: #DFECF6;
}

.alt-theme {
    --primary-bg-color: #694D75;
    --secondary-bg-color: #331832;
    --primary-txt-color: white;
    --secondary-txt-color: white;
}

.badge, .btn-custom {
    color: var(--secondary-txt-color) !important;
    background-color: var(--secondary-bg-color);
}

.navbar {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}

body, .card, .modal-content, .form-control, .dropdown-menu {
    color: var(--primary-txt-color) !important;
    background-color: var(--primary-bg-color) !important;
}

::placeholder {
    color: var(--secondary-txt-color) !important;
}

.link, .link:hover, .dropdown-item {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    color: var(--secondary-txt-color) !important;
}

a:hover {
    cursor: pointer;
}

.badge {
    border-radius: 8px;
    padding: 5px 10px;
}

.nav-item {
    margin: 0px 10px;
}