{% extends "base.html" %}
{% from "macros.html" import page_options, badge, paragraph with context %}

{% block body %}
<title>{{ page.title }}</title>
<div class="container">
  <div class="text-center m-5">
    {{ paragraph(page.title, size='2.5', class='m-0') }}
    <a href="{{ url_for('folders.folder', id_=page.folder_id) }}" style="background-color:{{ page.folders.color }}" class="badge link text-light my-2">{{ page.folders.name }}</a>
    {{ page_options(page) }}
  </div>
  {{ paragraph(page.content_to_html()|safe, size='1') }}
</div>
{% endblock %}