:root, html[data-theme="dark"] {
    --navbar-bg: white;
    --navbar-txt: #1a1a1a;
    --body-bg: #1a1a1a;
    --body-txt: white;
}

html[data-theme="light"] {
    --navbar-bg: #1a1a1a;
    --navbar-txt: white;
    --body-bg: white;
    --body-txt: #1a1a1a;
}

html[data-theme="gray"] {
    --navbar-bg: #D6D6D6;
    --navbar-txt: #595959;
    --body-bg: #595959;
    --body-txt: #D6D6D6;
}

html[data-theme="red"] {
    --navbar-bg: #F7AFA1;
    --navbar-txt: #4C2B36;
    --body-bg: #4C2B36;
    --body-txt: #F7AFA1;
}

html[data-theme="green"] {
    --navbar-bg: #94A187;
    --navbar-txt: #3E5641;
    --body-bg: #3E5641;
    --body-txt: #94A187;
}

html[data-theme="blue"] {
    --navbar-bg: #9ABDD5;
    --navbar-txt: #064789;
    --body-bg: #064789;
    --body-txt: #9ABDD5;
}

html[data-theme="purple"] {
    --navbar-bg: #BB9BB0;
    --navbar-txt: #4E4187;
    --body-bg: #4E4187;
    --body-txt: #BB9BB0;
}

html[data-theme="brown"] {
    --navbar-bg: #B9B5A2;
    --navbar-txt: #704E2E;
    --body-bg: #704E2E;
    --body-txt: #B9B5A2;
}


a, a:hover, .nav-link, .nav-link:hover, .nav-link:link {
    color: inherit !important;
    cursor: pointer;
    text-decoration: none;
}

.font-custom, .btn-custom, .badge-custom, .dropdown-item, ::placeholder {
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.border-custom, .input-custom, .btn-custom, .card-body, .badge-custom {
    border: 1px solid var(--body-txt);
    border-radius: 5px;
}

.btn-custom {
    border-radius: 5px;
    transition: background-color .5s;
}

.input-custom, .btn-custom, .badge-custom {
    padding: 5px 10px;
}

body, .btn-custom:hover, .input-custom, .card, .modal-content, .dropdown-menu, .badge-custom {
    background-color: var(--body-bg) !important;
    color: var(--body-txt) !important;
}

.navbar, .btn-custom, .badge-custom:hover, .dropdown-item:hover {
    background-color: var(--navbar-bg);
    color: var(--navbar-txt) !important;
}

.heading1, .heading2, .heading3 { font-weight: bold; }
.heading1 { font-size: 2.5em; }
.heading2 { font-size: 1.5em; }
.heading3 { font-size: 1em; }

.btn-custom.bg-success {
    background-color: green;
    color: white;
    transition: background-color .5s;
}

.dropdown-item {
    transition: background-color .5s;
}

.navbar-toggler {
    color: inherit !important;
}
