{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Notes-Repo</title>
<div class="container">
  {{ macros.paragraph('Notes Repo', class='text-center m-3 border rounded', size=4) }}
  {{ macros.paragraph('Featured Folders', class='text-center m-3') }}
  <div class="row mb-5">
    {% for i in featured_folders %}
    {{ macros.folder_card(i) }}
    {% endfor %}
  </div>
  {{ macros.paragraph('Featured Pages', class='text-center m-3') }}
  <div class="row mb-5">
    {% for i in featured_pages %}
    {{ macros.page_card(i) }}
    {% endfor %}
  </div>
</div>
{% endblock %}