{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ current_user.username }}</title>
<div class="">
    <input autocomplete="off" id="username" class="form-control mb-2" placeholder="Username" value="{{ current_user.username }}">
    <button class="btn btn-outline-secondary" onclick="changeUsername()">Change Username</button>
    <form onsubmit="event.preventDefault(); changePassword();">
      <input autocomplete="off" id="oldPassword" class="form-control" placeholder="Current Password" type="password">
      <input autocomplete="off" id="newPassword" class="form-control" placeholder="New Password" type="password">
      <input autocomplete="off" id="newPasswordConfirm" class="form-control" placeholder="New Password Again" type="password">
      <button class="btn btn-outline-secondary" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}