{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Notes-Repo</title>
{% if not current_user.is_anonymous %}
<div>
  {{ macros.folder_sorter(class='mb-3') }}
  <a class="btn-custom" onclick="toggleDiv('folderCreate')">+ New Folder</a>
  <div class="my-3" id="folderCreate" style="display:none">{{ macros.folder_create_form() }}</div>
  <div class="row mt-3">
    {% for i in current_user.get_folders(order_by=order_by) %}
    {{ macros.folder_card(i) }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
