{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<div class="">
    <input autocomplete="off" value="{{ folder.name }}" class="fs-2 form-control border-0 p-0" id="name" onchange="folderEdit({{ folder.id }})">
    <div class="mt-4">
        <a class="btn btn-sm btn-outline-success text-success mx-1" onclick="toggleDiv('newNote' + {{ folder.id }})"><i class="bi bi-plus-lg"></i></a>
        <a class="btn btn-sm btn-outline-danger text-danger mx-1" onclick="toggleDiv('delete')"><i class="bi bi-trash3"></i></a>
        <a href="{{ url_for('folders.folder_delete', id_=folder.id) }}" class="text-danger" id="delete" style="display: none">Delete?</a>
    </div>
    <div class="input-group" id="edit" style="display: none">
    </div>
</div>
<div class="py-4">
    <title>{{ folder.name }}</title>
    <div class="mb-3" style="display: none" id="newNote{{ folder.id }}">{{ macros.note_create_form(folder) }}</div>
    <div class="row">
      {% for i in folder.get_notes() %}
      {{ macros.note_card(i) }}
      {% endfor %}
    </div>
</div>
{% endblock %}