{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Links</title>
<a class="link badge badge-custom" onclick="toggleDiv('linkCreate')">+ New Link</a>
<div id="linkCreate" style="display:none" class="mt-3">{{ macros.link_create_form() }}</div>
<div class="row">
  {% for i in current_user.get_links() %}
  {{ macros.link_card(i) }}
  {% endfor %}
</div>
<a href="{{ url_for('links.export_all') }}" class="badge link" download="links.csv">Export All</a>
{% endblock %}