<!--suppress ALL -->
<!--BOXES-->
{% macro modal(modal_id, class='', large=false) %}
<div class="modal {{ class }}" id="{{ modal_id }}">
  <div class="modal-dialog {% if large %}modal-lg{% endif %}">
    <div class="modal-content p-3">
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro folder_card(folder) %}
<div class="card col-xl-6 border-0">
    <div class="text-center mb-4">
        <a href="{{ url_for('folders.folder', id_=folder.id) }}" class="h5">
            <div class="bi bi-folder-fill" style="color: {{ folder.color }}; font-size: 4em"></div>
            <span class="font-custom">{{ folder.name }}</span><br>
            <small class="font-custom" style="color: {{ folder.color }}">{{ folder.get_notes().count() }} note(s)</small>
        </a>
        <div class="mt-3">{{ folder_options(folder) }}</div>
    </div>
</div>
{% endmacro %}

{% macro note_card(note) %}
<div class="card col-xl-4 border-0">
    <div class="card-body mb-4">
        <div class="mb-3">
            <a href="{{ url_for('notes.note', id_=note.id) }}" class="fw-bold">{{ note.title }}</a>
            <a href="{{ url_for('folders.folder', id_=note.folder_id) }}" class="float-end font-custom"><i class="bi bi-folder-fill" style="color: {{ note.folders.color }}"></i> {{ note.folders.name or 'unsorted' }}</a>
        </div>
        <span class="font-custom">Created {{ note.date_created.strftime('%B %d, %Y %I:%M %p') }}</span><br>
        <span class="font-custom">Modified {{ note.last_modified.strftime('%B %d, %Y %I:%M %p') }}</span><br>
        <div class="mt-3">{{ note_options(note) }}</div>
    </div>
</div>
{% endmacro %}

{% macro note_options(note) %}
<div>
  {% if request.url_rule.endpoint != "notes.note" %}<a class="mx-1" data-bs-toggle="modal" data-bs-target="#previewNote{{ note.id }}"><i class="bi bi-eye"></i></a>{% endif %}
  <a class="mx-1" onclick="noteFavorite({{ note.id }})"><i class="bi bi-{% if note.favorited %}star-fill text-warning{% else %}star{% endif %}"></i></a>
  <a href="{{ url_for('notes.editor', id_=note.id) }}" class="mx-1"><i class="bi bi-pen"></i></a>
  <a class="font-custom text-danger" style="display:none" id="deleteNote{{ note.id }}" onclick="noteDelete({{ note.id }})">Delete?</a>
  <a class="mx-1" onclick="toggleDiv('deleteNote' + {{ note.id }})"><i class="bi bi-x-circle text-danger"></i></a>
</div>

{% call modal('previewNote'+note.id|string, large=true) %}
<a class="font-custom text-danger" data-bs-dismiss="modal">close</a>
<p class="mt-4" style="white-space:pre-wrap">{{ note.get_markdown() | safe }}</p>
{% endcall %}

{% endmacro %}

{% macro folder_options(folder) %}
<div>
  <a class="mx-1" onclick="toggleDiv('addToFolder' + {{ folder.id }}) "><i class="bi bi-plus-circle text-success"></i></a>
  <a class="mx-1" onclick="toggleDiv('editFolder' + {{ folder.id }}) "><i class="bi bi-pen"></i></a>
  <a class="mx-1" onclick="toggleDiv('deleteFolder' + {{ folder.id }}) "> <i class="bi bi-x-circle text-danger"></i></a>
  <div class="">
    <div id="addToFolder{{ folder.id }}" style="display:none">{{ note_create_form(folder) }}</div>
    <div id="editFolder{{ folder.id }}" style="display:none">{{ folder_edit_form(folder) }}</div>
    <a class="font-custom text-danger" id="deleteFolder{{ folder.id }}" style="display:none" onclick="folderDelete({{ folder.id }})">Delete?</a>
  </div>
</div>
{% endmacro %}

{% macro link_card(link) %}
<div class="card col-xl-4">
  <div class="card-body text-truncate">
    <a title="{{ link.title }}" target="_blank" class="heading2" href="{{ link.url }}">{{ link.title }}</a><br>
    <a class="btn-custom {% if link.been_read %}bg-success{% else %}bg-warning{% endif %}"
       onclick="toggleRead({{ link.id }})">
      {% if link.been_read %}Read{% else %}Unread{% endif %}
    </a>
    <span class="small d-block mt-2">{{ 'Added %s' % link.date_added.strftime('%B %m, %Y %I:%M %p') }}</span>
    <div class="mt-2">
      <a class="mx-1" onclick="toggleDiv('edit' + {{ link.id }})"><i class="bi bi-pen"></i></a>
      <a class="mx-1" onclick="toggleDiv('delete' + {{ link.id }})"><i class="bi bi-x-circle text-danger"></i></a>
      <a id="delete{{ link.id }}" style="display:none" class="font-custom text-danger" onclick="linkDelete({{ link.id }})">Delete?</a>
      <div class="mt-3" id="edit{{ link.id }}" style="display:none">{{ link_edit_form(link) }}</div>
    </div>
  </div>
</div>
{% endmacro %}


<!--FORMS-->
{% macro login_form() %}
<form method="POST" action="{{ url_for('login') }}">
  <input type="text" class="input-custom w-100 mb-2" autocomplete="off" placeholder="Username" name="username">
  <input type="password" class="input-custom w-100 mb-2" autocomplete="off" placeholder="Password" name="password">
  <button type="submit" class="btn-custom w-100">Log In</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form method="POST" action="{{ url_for('signup') }}">
  <input autocomplete="off" class="input-custom w-100 mb-2" name="username" placeholder="Username">
  <input autocomplete="off" class="input-custom w-100 mb-2" name="password" placeholder="Password" type="password">
  <button class="btn-custom w-100">Sign Up</button>
</form>
{% endmacro %}

{% macro folder_create_form() %}
<form class="input-group" onsubmit="event.preventDefault(); folderCreate();">
  <input autocomplete="off" class="input-custom" placeholder="Name" type="text" id="name">
  <button type="submit" class="btn-custom">Create Folder</button>
</form>
{% endmacro %}

{% macro folder_edit_form(folder) %}
<form onsubmit="event.preventDefault(); folderEdit({{ folder.id }});">
  <div class="input-group mb-2">
    <input autocomplete="off" class="input-custom col" placeholder="Name" type="text" value="{{ folder.name }}" id="name{{ folder.id }}">
    <input class="input-custom col" type="color" value="{{ folder.color }}" id="color{{ folder.id }}" style="height:inherit">
  </div>
  <button type="submit" class="btn-custom w-100">Edit</button>
</form>
{% endmacro %}

{% macro note_create_form(folder) %}
<form method="POST" action="{{ url_for('notes.note_create') }}" class="input-group">
  <input autocomplete="off" class="input-custom" name="title" placeholder="Title" type="text">
  <select class="input-custom" name="folder_id">
    <option value="">None</option>
    {% for i in current_user.get_folders() %}
    <option value="{{ i.id }}" {% if folder and i.id==folder.id %}selected{% endif %}>{{ i.name }}</option>
    {% endfor %}
  </select>

  <button type="submit" class="btn-custom">create note</button>
</form>
{% endmacro %}

{% macro note_editor_form(note) %}
<form class="form-group" onsubmit="event.preventDefault(); noteEdit({{ note.id }});">
  <input onchange="noteEdit({{ note.id }})" id="title" autocomplete="off" class="input-custom text-center w-100 mb-2" placeholder="Title" type="text" style="font-size:1.5em" value="{{ note.title }}">
  <select onchange="noteEdit({{ note.id }})" class="font-custom input-custom w-100 mb-2" id="folderId"i style="font-size:1.25em; border: 3px solid {{ note.folders.color }}">
    <option value="">None</option>
    {% for i in current_user.get_folders() %}
    <option value="{{ i.id }}" {% if i.id== note.folder_id %}selected{% endif %}>{{ i.name }}</option>
    {% endfor %}
  </select>
  <button class="btn-custom bg-success w-100 mb-2 sticky-top" type="submit">
    <span class="spinner-border spinner-border-sm" id="loading" style="display:none"></span>
    <i class="bi bi-save"></i> save
  </button>
  <textarea rows=20 class="input-custom w-100" id="content" style="white-space:pre-wrap">{{ note.content | safe }}</textarea>
  {{ toolbar() }}
</form>
{% endmacro %}

{% macro toolbar() %}
<div style="font-size: 1.5em">
    <a class="bi bi-type-bold btn-custom" onclick="formatText('bold')"></a>
    <a class="bi bi-type-italic btn-custom" onclick="formatText('italic')"></a>
    <a class="bi bi-link-45deg btn-custom" onclick="formatText('link')"></a>
    <a class="bi bi-type-h1 btn-custom" onclick="formatText('heading')"></a>
    <a class="bi bi-text-indent-left btn-custom" onclick="formatText('indent')"></a>
    <a class="bi bi-code-slash btn-custom" onclick="formatText('code')"></a>
</div>
{% endmacro %}

{% macro link_create_form() %}
<form onsubmit="event.preventDefault(); linkCreate(); this.reset();">
  <input autocomplete="off" class="input-custom w-100 mb-2" placeholder="URL" type="url" id="url" onchange="getTitle();">
  <input autocomplete="off" class="input-custom w-100 mb-2" placeholder="Title" type="text" id="title">
  <button class="btn-custom w-100">Add Link</button>
</form>
{% endmacro %}

{% macro link_edit_form(link) %}
<form onsubmit="event.preventDefault(); linkEdit({{ link.id }});">
  <input autocomplete="off" class="input-custom w-100 mb-2" placeholder="URL" type="url" id="url{{ link.id }}" onchange="linkEdit({{ link.id }})" value="{{ link.url }}">
  <input autocomplete="off" class="input-custom w-100 mb-2" placeholder="Title" type="text" id="title{{ link.id }}" onchange="linkEdit({{ link.id }})" value="{{ link.title }}">
  <button class="btn-custom w-100">Edit</button>
</form>
{% endmacro %}

<!--SORTERS-->

{% macro note_sorter(class='') %}
<div class="{{ class }}">
  <span class="font-custom py-2">Sort: </span>
  {% if order_by != 'last_modified desc' %}<a class="btn-custom" href="{{ url_for('index', order_by='last_modified desc') }}">Last Modified</a>{% endif %}
  {% if order_by != 'date_created desc' %}<a class="btn-custom" href="{{ url_for('index', order_by='date_created desc') }}">Date Created</a>{% endif %}
</div>
{% endmacro %}

{% macro folder_sorter(class='') %}
<div class="{{ class }}">
  <span class="font-custom py-2">Sort: </span>
  {% if order_by != 'date_created desc' %}<a class="btn-custom" href="{{ url_for('folders.folders_', order_by='date_created desc') }}">Date Created</a>{% endif %}
  {% if order_by != 'name' %}<a class="btn-custom" href="{{ url_for('folders.folders_', order_by='name') }}">Name</a>{% endif %}
</div>
{% endmacro %}
