<!--suppress ALL -->
{% macro note_card(note) %}
<div class="col-xl-4">
    <div class="p-3 text-truncate border-bottom">
        <a href="{{ url_for('notes.note', id_=note.id) }}" class="fs-5 fst-italic">{{ note.title }}</a><br>
        <a href="{{ url_for('folders.folder', id_=note.folder_id) }}" class=""><i class="bi bi-folder-fill" style="color: {{ note.folders.color }}"></i> {{ note.folders.name or 'Unsorted' }}</a>
        <div class="mt-3">
            <a href="{{ url_for('notes.editor', id_=note.id) }}" class="bi bi-pen mx-1"></a>
            <a download href="{{ url_for('notes.note_download', id_=note.id) }}" class="bi bi-download mx-1"></a>
            <a onclick="noteFavorite({{ note.id }})" class="bi bi-star{% if note.favorited %}-fill text-warning{% endif %} mx-1"></a>
            <a href="{{ url_for('notes.note_delete', id_=note.id) }}" class="font-custom text-danger mx-1" id="deleteNote{{ note.id }}" style="display: none">Delete?</a>
            <a onclick="toggleDiv('deleteNote' + {{ note.id }})" class="bi bi-trash3 text-danger mx-1"></a>
        </div>
    </div>
</div>
{% endmacro %}


<!--FORMS-->
{% macro login_form() %}
<form method="POST" action="{{ url_for('login') }}">
  <input type="text" class="form-control w-100 mb-2" autocomplete="off" placeholder="Username" name="username">
  <input type="password" class="form-control w-100 mb-2" autocomplete="off" placeholder="Password" name="password">
  <button type="submit" class="btn btn-outline-light w-100">Log In</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form method="POST" action="{{ url_for('signup') }}">
  <input autocomplete="off" class="form-control w-100 mb-2" name="username" placeholder="Username">
  <input autocomplete="off" class="form-control w-100 mb-2" name="password" placeholder="Password" type="password">
  <button class="btn btn-outline-light w-100">Sign Up</button>
</form>
{% endmacro %}

{% macro folder_create_form() %}
<form class="input-group" method="post" action="{{ url_for('folders.folder_create') }}">
  <input autocomplete="off" class="form-control" placeholder="Name" type="text" name="name">
  <button type="submit" class="btn btn-outline-success"><i class="bi bi-folder"></i> Create Folder</button>
</form>
{% endmacro %}

{% macro note_create_form(folder) %}
<form method="POST" action="{{ url_for('notes.note_create') }}" class="input-group">
  <input autocomplete="off" class="form-control" name="title" placeholder="Title" type="text">
  <select class="form-control" name="folder_id">
    <option value="">Select Folder</option>
    {% for i in current_user.get_folders() %}
    <option value="{{ i.id }}" {% if folder and i.id==folder.id %}selected{% endif %}>{{ i.name }}</option>
    {% endfor %}
  </select>

  <button type="submit" class="btn btn-outline-success"><i class="bi bi-sticky"></i> Create Note</button>
</form>
{% endmacro %}

{% macro link_create_form() %}
<form method="POST" action="{{ url_for('notes.note_create_from_url') }}" class="input-group">
  <input autocomplete="off" class="form-control" placeholder="URL" name="url">
  <select class="form-control" name="folder_id">
    <option value="">Select Folder</option>
    {% for i in current_user.get_folders() %}
    <option value="{{ i.id }}" {% if folder and i.id==folder.id %}selected{% endif %}>{{ i.name }}</option>
    {% endfor %}
  </select>
  <button class="btn btn-outline-success"><i class="bi bi-link-45deg"></i> Save Link</button>
</form>
{% endmacro %}

<!--SORTERS-->

{% macro note_sorter(class='') %}
<div class="{{ class }}">
  <span><i class="bi bi-filter-right"></i></span>
  {% if order_by != 'last_modified desc' %}<a class="btn btn-sm btn-outline-light m-1" href="{{ url_for('index', order_by='last_modified desc') }}">Last Modified</a>{% endif %}
  {% if order_by != 'date_created desc' %}<a class="btn btn-sm btn-outline-light m-1" href="{{ url_for('index', order_by='date_created desc') }}">Date Created</a>{% endif %}
</div>
{% endmacro %}