{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>{{ note.title }}</title>
<nav class="navbar navbar-expand bg-dark border-0">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li class="nav-item me-3">
                <span class="fw-bold me-3">{{ note.title }}</span>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('folders.folder', id_=note.folder_id) }}"><i class="bi bi-folder-fill" style="color: {{ note.folders.color }}"></i> {{ note.folders.name }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="{{ url_for('notes.editor', id_=note.id) }}" class="bi bi-pen mx-1"></a>
                <a onclick="noteFavorite({{ note.id }})" class="bi bi-star{% if note.favorited %}-fill text-warning{% endif %} mx-1"></a>
                <a href="{{ url_for('notes.note_delete', id_=note.id) }}" class="text-danger mx-1" id="delete" style="display: none">delete?</a>
                <a onclick="toggleDiv('delete')" class="bi bi-trash3 text-danger mx-1"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="p-4">
    <div style="">{{ note.get_markdown() | safe }}</div>
</div>
{% endblock %}
