<!DOCTYPE html>
{% import "macros.html" as macros with context %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="static/favicon.svg" rel="icon" type="image/x-icon"/>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('folders.index') }}">
    {{ macros.navbar_brand_icon() }}
  </a>
  <button class="navbar-toggler" data-target="#nav_content" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav_content">
    <ul class="navbar-nav mr-auto">
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Folders</a>
        <div class="dropdown-menu">
          {% call macros.unstyled_link(modal_id='add_folder', class='dropdown-item text-success') %}New Folder{% endcall %}
          {% call macros.unstyled_link(href=url_for('folders.my_folders'), class='dropdown-item') %}My Folders{% endcall %}
          <div class="dropdown-divider"></div>
          {% for i in folders_[:5] %}
          <a class="dropdown-item" href="{{ url_for('folders.folder', id_=i.id) }}">{{ macros.circle_icon(10, i.color) }} {{ i.name }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Pages</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('pages.my_pages') }}">My Pages</a>
          <div class="dropdown-divider"></div>
          {% for i in pages_[:5] %}
          <a class="dropdown-item" href="{{ url_for('pages.page', id_=i.id) }}">{{ macros.circle_icon(10, i.folders.color) }} {{ i.title }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pages.bookmarks') }}">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pages.drafts') }}">Drafts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('pages.sources') }}">Sources</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users.authors') }}">Authors</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a href="" data-toggle="dropdown" class="nav-link dropdown-toggle">{{ macros.search_icon() }}</a>
        <div class="dropdown-menu dropdown-menu-right p-2">
          <form action="{{ url_for('pages.search') }}" class="form-inline input-group" method="POST">
            <input type="search" autocomplete="off" class="form-control" placeholder="Search" name="search_term">
            <div class="input-group-append">
              <button type="submit" class="btn btn-dark">{{ macros.search_icon() }}</button>
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="" data-toggle="dropdown" class="nav-link dropdown-toggle">{{ macros.user_icon() }}</a>
        <div class="dropdown-menu dropdown-menu-right text-center">
          {% if not current_user.is_authenticated %}
          {% call macros.unstyled_link(class='dropdown-item', modal_id='login') %}Log-In{% endcall %}
          {% call macros.unstyled_link(class='dropdown-item', modal_id='signup') %}Sign Up{% endcall %}
          {% else %}
          {{ macros.paragraph(current_user.username, size=1, class='text-center m-1 font-weight-bold') }}
          <div class="dropdown-divider"></div>
          {% call macros.unstyled_link(href=url_for('users.logout'), class='dropdown-item') %}Sign Out{% endcall %}
          {% endif %}
        </div>
      </li>
    </ul>
  </div>

  {% call macros.modal('add_folder', class='text-center') %}
  {{ macros.paragraph('Add Folder', class='m-3') }}
  {{ macros.folder_add_form() }}
  {% endcall %}

  {% call macros.modal('login') %}
  {{ macros.paragraph('Log-In', class='m-3 text-center') }}
  {{ macros.user_login_form() }}
  {% endcall %}

  {% call macros.modal('signup') %}
  {{ macros.paragraph('Sign Up', class='m-3 text-center') }}
  {{ macros.user_signup_form() }}
  {% endcall %}

</nav>
<body class="mb-5">
{% block body %}
{% endblock %}
</body>
<footer class="p-3 fixed-bottom bg-light text-center text-muted">
  {% call macros.unstyled_link(class='mx-5', newtab=true) %}About{% endcall %}
  {% call macros.unstyled_link(class='mx-5', newtab=true, href='https://github.com/misterrager8/Notes-Repo') %}-{{ macros.github_icon() }}-{% endcall %}
  {% call macros.unstyled_link(class='mx-5', newtab=true) %}Contact{% endcall %}
</footer>
</html>