{% extends "base.html" %}

{% block body %}
<title>Edit | {{ page.title }}</title>
<div class="container">
  <form method="POST" action="{{ url_for('edit_page', id_=page.id) }}" class="form-group col-10 offset-1 text-center">
    <input type="text" autocomplete="off" placeholder="Title" name="title" class="form-control" value="{{ page.title }}" readonly>
    <textarea rows="25" placeholder="Content" name="content" class="form-control" autocomplete="off">{{ page.content }}</textarea>
    <button type="submit" class="btn btn-secondary w-50">Edit</button>
  </form>
</div>
{% endblock %}