{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>Notes-Repo</title>
<div class="container pt-5">
  <div id="allFolders">
    <a onclick="$('#folderCreate').toggle()" class="link badge bg-success text-light rounded-pill">+ New Folder</a>
    <div style="display:none" id="folderCreate" class="my-2">{{ macros.folder_add_form() }}</div>
    {{ macros.sort_folders_filter() }}
    <div class="row border-top">
      {% for i in folders_ %}
      {{ macros.folder_card(i) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}