{% extends "base.html" %}

{% block body %}
<title>Home</title>
<body>
<div class="jumbotron text-center">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
    calling extra attention to featured content or information.</p>
  <hr class="my-2">
  <p>It uses utility classes for typography and
    spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Some action</a>
  </p>
</div>
<div class="row">
  {% for i in notes %}
  <a class="col-3" href="{{ url_for('note_pg', note_id=i.id) }}">
    <div class="card-body">
      <h4 class="card-title">{{ i.title }}</h4>
      <p class="card-text">{{ i.get_date() }}</p>
    </div>
  </a>
  {% endfor %}
</div>
</body>
{% endblock %}