<!--Title Div-->
{% macro title_div(title) %}
<div class="text-center m-5">
  <h1>{{ title }}</h1>
</div>
{% endmacro %}

<!--Folder Card-->
{% macro folder_card(folder) %}
<div class="card col-3 border-0">
  <div class="card-body text-center">
    <a class="unstyled-link" href="{{ url_for('folder', id_=folder.id) }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="{{ folder.color }}" class="bi bi-folder-fill" viewBox="0 0 16 16">
        <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
      </svg>
      <h5 class="m-2">{{ folder.name }}</h5>
    </a>
    {{ folder_options(folder) }}
  </div>
</div>
{% endmacro %}

<!--Page Card-->
{% macro page_card(page) %}
<div class="card col-4 border-0">
  <div class="card-body p-0 border m-3">
    <div class="card-header d-flex justify-content-between">
      <a class="unstyled-link" href="{{ url_for('page', id_=page.id) }}">{{ page.title }}</a>
      <a href="{{ url_for('folder', id_=page.folder_id) }}"><span class="badge badge-primary" style="background-color: {{ page.folders.color }}">{{ page.folders.name }}</span></a>
    </div>
    <div class="card-body">
      <small><span class="font-weight-bold">Last Modified:</span> {{ page.get_last_modified() }}</small><br>
      <small><span class="font-weight-bold">Date Created:</span> {{ page.get_date_created() }}</small>
    </div>
    <div class="card-footer">
      {{ page_options(page) }}
    </div>
  </div>
</div>
{% endmacro %}

<!--Add Icon-->
{% macro add_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
{% endmacro %}

<!--Delete Icon-->
{% macro delete_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

<!--Edit Icon-->
{% macro edit_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="gray" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>
{% endmacro %}

<!--Save Icon-->
{% macro save_icon() %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg>
{% endmacro %}

<!--Page Options Panel-->
{% macro page_options(page) %}
<span>
  <!--Edit Page-->
  <a href="{{ url_for('edit_page', id_=page.id) }}" class="unstyled-link mx-1">
    {{ edit_icon() }}
  </a>
  <!--Save Page-->
  <a href="{{ url_for('page_plain', id_=page.id) }}" class="unstyled-link mx-1" target="_blank">
    {{ save_icon() }}
  </a>
  <!--Delete Page-->
  <a href="#" class="unstyled-link mx-1" data-toggle="modal" data-target="#delete-page-modal-{{ page.id }}">
    {{ delete_icon() }}
  </a>
  {{ delete_page_modal(page) }}
</span>
{% endmacro %}

<!--Folder Options Panel-->
{% macro folder_options(folder) %}
<span>
  <!--Add to Folder-->
  <a href="{{ url_for('add_page', id_=folder.id) }}" class="unstyled-link mx-1">
    {{ add_icon() }}
  </a>
  <!--Info for Folder-->
  <a href="#" class="unstyled-link mx-1" data-toggle="modal" data-target="#folder-info-modal-{{ folder.id }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
  </a>
  {{ folder_info_modal(folder) }}
  <!--Edit Folder-->
  <a href="#" class="unstyled-link mx-1" data-target="#edit-folder-modal-{{ folder.id }}" data-toggle="modal">
    {{ edit_icon() }}
  </a>
  {{ edit_folder_modal(folder) }}
  <!--Save Folder-->
  <a href="#" class="unstyled-link mx-1" target="_blank">
    {{ save_icon() }}
  </a>
  <!--Delete Folder-->
  <a href="#" class="unstyled-link mx-1" data-toggle="modal" data-target="#delete-folder-modal-{{ folder.id }}">
    {{ delete_icon() }}
  </a>
  {{ delete_folder_modal(folder) }}
</span>
{% endmacro %}

<!--Page Form-->
{% macro page_form(mode) %}
<form method="POST"
      action="{% if mode == 'add' %} {{ url_for('add_page', id_=folder.id) }} {% else %} {{ url_for('edit_page', id_=page.id) }} {% endif %}"
      class="form-group col-10 offset-1 text-center">
  <input type="text"
         autocomplete="off"
         placeholder="Title"
         name="title"
         class="form-control"
         value="{% if mode == 'edit' %}{{ page.title }}{% endif %}">
  <a href="https://www.markdownguide.org/cheat-sheet/" class="unstyled-link text-info" target="_blank">Markdown Cheat Sheet</a>
  <textarea rows="25"
            placeholder="Content"
            name="content"
            class="form-control"
            autocomplete="off">{% if mode == 'edit' %}{{ page.content }}{% endif %}</textarea>
  <button type="submit"
          class="btn btn-secondary w-50">{% if mode == 'add' %}Add{% elif mode == 'edit' %}Edit{% endif %} Page
  </button>
</form>
{% endmacro %}

<!--Add Folder Modal-->
{% macro add_folder_modal() %}
<div class="modal" id="add-folder-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        {{ title_div('Add Folder') }}
        <form action="{{ url_for('add_folder') }}" method="POST" class="form-group">
          <input type="text" autocomplete="off" placeholder="Name" class="form-control" name="name">
          <button type="submit" class="btn btn-secondary w-50">Add Folder</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!--Delete Folder Modal-->
{% macro delete_folder_modal(folder) %}
<div class="modal" id="delete-folder-modal-{{ folder.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        {{ title_div('Delete '+folder.name+'?') }}
        <a href="{{ url_for('delete_folder', id_=folder.id) }}" class="btn btn-danger btn-lg">Delete Folder</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!--Edit Folder Modal-->
{% macro edit_folder_modal(folder) %}
<div class="modal" id="edit-folder-modal-{{ folder.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <form method="POST" action="{{ url_for('edit_folder', id_=folder.id) }}" class="form-group">
          <input type="text" class="form-control" name="name" placeholder="name" autocomplete="off" value="{{ folder.name }}">
          <input type="color" name="color" class="form-control" value="{{ folder.color }}">
          <button class="btn btn-secondary btn-lg">Edit Folder</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!--Folder Info Modal-->
{% macro folder_info_modal(folder) %}
<div class="modal" id="folder-info-modal-{{ folder.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{ title_div(folder.name) }}
        <p>Created {{ folder.get_date_created() }}</p>
        <p>{{ folder.pages | count }} page(s)</p>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!--Delete Page Modal-->
{% macro delete_page_modal(page) %}
<div class="modal" id="delete-page-modal-{{ page.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{ title_div('Delete '+page.title+'?') }}
        <a href="{{ url_for('delete_page', id_=page.id) }}" class="btn btn-danger btn-lg">Delete Page</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}