<!--Generic Paragraph-->
<!--suppress ALL -->
{% macro paragraph(txt, size='3', class='', color='black') %}
<p class="{{ class }}" style="font-size:{{ size }}em; color:{{ color }}">{{ txt }}</p>
{% endmacro %}

<!--Generic Modal-->
{% macro modal(modal_id, class='', large=false) %}
<div class="modal {{ class }}" role="dialog" id="{{ modal_id }}">
  <div class="modal-dialog {% if large %}modal-lg{% endif %}">
    <div class="modal-content p-5">
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

<!--Folder Card-->
{% macro folder_card(folder) %}
<div class="card col-xl-3 border-0">
  <div class="card-body text-center">
    <a href="{{ url_for('folders.folder', id_=folder.id) }}" class="link">
      {{ folder_icon(size=100, color=folder.color) }}
      {{ paragraph(folder.name, size='1.5', class='m-0') }}
      <p class="badge bg-secondary rounded-pill mb-2">{{ '%s page(s)' % folder.pages|count|string }}</p>
    </a>
    {{ folder_options(folder) }}
  </div>
</div>
{% endmacro %}

<!--Page Card-->
{% macro page_card(page) %}
<div class="card col-xl-4 border-0">
  <div class="card-body p-0 border my-3 rounded shadow-sm">
    <div class="card-header d-flex justify-content-between">
      <a class="link text-truncate fw-bold" data-placement="top" data-toggle="tooltip" href="{{ url_for('pages.page', id_=page.id) }}" title="{{ page.title }}">{{ page.title }}</a>
      <a class="badge text-light link m-1" href="{{ url_for('folders.folder', id_=page.folder_id) }}" style="background-color:{{ page.folders.color }}">{{ page.folders.name }}</a>
    </div>
    <div class="card-body">
      <small class="text-truncate"><span class="fw-bold">Last Modified:</span> {{ page.last_modified.strftime("%B %d, %Y %I:%M %p") }}</small><br>
      <small class="text-truncate"><span class="fw-bold">Date Created:</span> {{ page.date_created.strftime("%B %d, %Y %I:%M %p") }}</small>
    </div>
    <div class="card-footer">
      {{ page_options(page) }}
    </div>
  </div>
</div>
{% endmacro %}

<!--Navbar Brand Icon-->
{% macro navbar_brand_icon(size=20, color='currentcolor') %}
<svg class="bi bi-stickies-fill" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1H1.5A1.5 1.5 0 0 0 0 1.5z"/>
  <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V10.5z"/>
</svg>
{% endmacro %}

<!--Page Icon-->
{% macro page_icon(size=20, color='currentcolor') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-file-ruled-fill" viewBox="0 0 16 16">
  <path d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7H6v2h8V7zm0 3H6v2h8v-2zm0 3H6v3h6a2 2 0 0 0 2-2v-1zm-9 3v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2z"/>
</svg>
{% endmacro %}

<!--Folder Icon-->
{% macro folder_icon(size=20, color='currentcolor') %}
<svg class="bi bi-folder-fill" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
</svg>
{% endmacro %}

<!--Add Icon-->
{% macro add_icon(size=20, color='green') %}
<svg class="bi bi-plus-circle" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
{% endmacro %}

<!--Delete Icon-->
{% macro delete_icon(size=20, color='red') %}
<svg class="bi bi-x-circle" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
{% endmacro %}

<!--Edit Icon-->
{% macro edit_icon(size=20, color='gray') %}
<svg class="bi bi-pencil" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>
{% endmacro %}

<!--Info Icon-->
{% macro info_icon(size=20, color='currentcolor') %}
<svg class="bi bi-info-circle" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
{% endmacro %}

<!--Save Icon-->
{% macro save_icon(size=20, color='currentcolor') %}
<svg class="bi bi-download" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg>
{% endmacro %}

<!--View Icon-->
{% macro view_icon(size=20, color='currentcolor') %}
<svg class="bi bi-eye" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg>
{% endmacro %}

<!--Star Icon-->
{% macro star_icon(bookmarked, size=20) %}
{% if bookmarked == true %}
<svg class="bi bi-star-fill" fill="orange" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
{% else %}
<svg class="bi bi-star" fill="black" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>
{% endif %}
{% endmacro %}

<!--Circle Icon-->
{% macro circle_icon(size, color) %}
<svg class="bi bi-circle-fill" fill="{{ color }}" height="{{ size }}" viewBox="0 0 16 16" width="{{ size }}" xmlns="http://www.w3.org/2000/svg">
  <circle cx="8" cy="8" r="8"/>
</svg>
{% endmacro %}

<!--Search Icon-->
{% macro search_icon(size=20, color='currentcolor') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
{% endmacro %}

<!--Lock Icon-->
{% macro lock_icon(size=20, color='currentcolor') %}
{% if current_user.is_authenticated %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-unlock-fill" viewBox="0 0 16 16">
  <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
</svg>
{% else %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-lock-fill" viewBox="0 0 16 16">
  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
</svg>
{% endif %}
{% endmacro %}

<!--Visible Icon-->
{% macro visible_icon(visible, size=20) %}
{% if visible %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="black" class="bi bi-lightbulb" viewBox="0 0 16 16">
  <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"/>
</svg>
{% else %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="black" class="bi bi-lightbulb-off-fill" viewBox="0 0 16 16">
  <path d="M2 6c0-.572.08-1.125.23-1.65l8.558 8.559A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm10.303 4.181L3.818 1.697a6 6 0 0 1 8.484 8.484zM5 14.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5zM2.354 1.646a.5.5 0 1 0-.708.708l12 12a.5.5 0 0 0 .708-.708l-12-12z"/>
</svg>
{% endif %}
{% endmacro %}

<!-- Icon-->
{% macro bold_icon(size=20, color='gray') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-type-bold" viewBox="0 0 16 16">
  <path d="M8.21 13c2.106 0 3.412-1.087 3.412-2.823 0-1.306-.984-2.283-2.324-2.386v-.055a2.176 2.176 0 0 0 1.852-2.14c0-1.51-1.162-2.46-3.014-2.46H3.843V13H8.21zM5.908 4.674h1.696c.963 0 1.517.451 1.517 1.244 0 .834-.629 1.32-1.73 1.32H5.908V4.673zm0 6.788V8.598h1.73c1.217 0 1.88.492 1.88 1.415 0 .943-.643 1.449-1.832 1.449H5.907z"/>
</svg>
{% endmacro %}

<!-- Icon-->
{% macro italic_icon(size=20, color='gray') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-type-italic" viewBox="0 0 16 16">
  <path d="M7.991 11.674 9.53 4.455c.123-.595.246-.71 1.347-.807l.11-.52H7.211l-.11.52c1.06.096 1.128.212 1.005.807L6.57 11.674c-.123.595-.246.71-1.346.806l-.11.52h3.774l.11-.52c-1.06-.095-1.129-.211-1.006-.806z"/>
</svg>
{% endmacro %}

<!-- Icon-->
{% macro list_icon(size=20, color='gray') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-list-ul" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
{% endmacro %}

<!-- Icon-->
{% macro heading_icon(size=20, color='gray') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-type-h2" viewBox="0 0 16 16">
  <path d="M7.638 13V3.669H6.38V7.62H1.759V3.67H.5V13h1.258V8.728h4.62V13h1.259zm3.022-6.733v-.048c0-.889.63-1.668 1.716-1.668.957 0 1.675.608 1.675 1.572 0 .855-.554 1.504-1.067 2.085l-3.513 3.999V13H15.5v-1.094h-4.245v-.075l2.481-2.844c.875-.998 1.586-1.784 1.586-2.953 0-1.463-1.155-2.556-2.919-2.556-1.941 0-2.966 1.326-2.966 2.74v.049h1.223z"/>
</svg>
{% endmacro %}

<!-- Icon-->
{% macro hyperlink_icon(size=20, color='gray') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-link-45deg" viewBox="0 0 16 16">
  <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
</svg>
{% endmacro %}

<!-- Icon-->
{% macro code_icon(size=20, color='gray') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-code-slash" viewBox="0 0 16 16">
  <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
</svg>
{% endmacro %}

<!-- Icon-->
{% macro bookmark_icon(size=20, color='currentcolor') %}
<svg xmlns="http://www.w3.org/2000/svg" width="{{ size }}" height="{{ size }}" fill="{{ color }}" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
</svg>
{% endmacro %}

<!--Page Options Panel-->
{% macro page_options(page) %}
<div>
  {% if request.url_rule.endpoint != "pages.page" %}<a class="mx-1 link" data-bs-toggle="modal" data-bs-target="#preview_page_{{ page.id }}">{{ view_icon() }}</a>{% endif %}
  <a href="{{ url_for('pages.page_plain', id_=page.id) }}" class="mx-1 link" target="_blank">{{ save_icon() }}</a>
  {% if current_user.is_authenticated %}
  <a class="mx-1 link" onclick="bookmarkPage({{ page.id }})">{{ star_icon(page.bookmarked) }}</a>
  <a href="{{ url_for('pages.editor', id_=page.id) }}" class="mx-1 link">{{ edit_icon() }}</a>
  <a onclick="hidePage({{ page.id }})" class="mx-1 link">{{ visible_icon(page.visible) }}</a>
  <a class="mx-1 link" onclick="$('#deletePage' + {{ page.id }}).toggle()">{{ delete_icon() }}</a>
  {% endif %}
  <a class="btn btn-danger mt-3 w-100" style="display:none" id="deletePage{{ page.id }}" onclick="deletePage({{ page.id }})">Delete Page</a>
</div>

{% call modal('preview_page_'+page.id|string, large=true) %}
{{ paragraph(page.content_to_html()|safe, size='1') }}
{% endcall %}

{% endmacro %}

<!--Folder Options Panel-->
{% macro folder_options(folder, class='') %}
<div class="{{ class }}">
  <a class="link mx-1" onclick="$('#infoFolder' + {{ folder.id }}).toggle()">{{ info_icon() }}</a>
  {% if current_user.is_authenticated %}
  <a class="link mx-1" onclick="$('#addToFolder' + {{ folder.id }}).toggle()">{{ add_icon() }}</a>
  <a class="link mx-1" onclick="$('#editFolder' + {{ folder.id }}).toggle()">{{ edit_icon() }}</a>
  <a class="link mx-1" onclick="$('#deleteFolder' + {{ folder.id }}).toggle()">{{ delete_icon() }}</a>
  {% endif %}
  <div class="mt-3" id="infoFolder{{ folder.id }}" style="display:none">
    {% if folder.description %}{{ paragraph(folder.description, class='fst-italic m-3', size=1) }}{% endif %}
    {{ paragraph('Created '+folder.date_created.strftime("%B %d, %Y %I:%M %p"), size='1') }}
  </div>
  <div class="mt-3" id="addToFolder{{ folder.id }}" style="display:none">{{ page_add_form(folder) }}</div>
  <div class="mt-3" id="editFolder{{ folder.id }}" style="display:none">{{ folder_edit_form(folder) }}</div>
  <div class="mt-3" id="deleteFolder{{ folder.id }}" style="display:none">
    <a class="btn btn-danger" onclick="deleteFolder({{ folder.id }})">Delete Page</a>
  </div>
</div>
{% endmacro %}

<!--Sort Pages Filter-->
{% macro sort_pages_filter() %}
<div>
  <p class="badge p-0 text-dark me-1">Sort By:</p>
  {% if order_by != 'folders.name' %}
  <a class="badge link bg-dark text-light rounded-pill" href="{{ url_for('pages.my_pages', order_by='folders.name') }}">Folder</a>
  {% endif %}
  {% if order_by != 'last_modified desc' %}
  <a class="badge link bg-dark text-light rounded-pill" href="{{ url_for('pages.my_pages', order_by='last_modified desc') }}">Last Modified</a>
  {% endif %}
  {% if order_by != 'title' %}
  <a class="badge link bg-dark text-light rounded-pill" href="{{ url_for('pages.my_pages', order_by='title') }}">Title</a>
  {% endif %}
</div>
{% endmacro %}

<!--Sort Folders Filter-->
{% macro sort_folders_filter() %}
<div>
  <p class="badge p-0 text-dark me-1">Sort By:</p>
  {% if order_by != 'name' %}
  <a class="badge link bg-dark text-light rounded-pill" href="{{ url_for('folders.index', order_by='name') }}">Name</a>
  {% endif %}
  {% if order_by != 'color' %}
  <a class="badge link bg-dark text-light rounded-pill" href="{{ url_for('folders.index', order_by='color') }}">Color</a>
  {% endif %}
  {% if order_by != 'date_created desc' %}
  <a class="badge link bg-dark text-light rounded-pill" href="{{ url_for('folders.index', order_by='date_created desc') }}">Date Created</a>
  {% endif %}
</div>
{% endmacro %}

<!--Folder Add Form-->
{% macro folder_add_form() %}
<form class="input-group" onsubmit="event.preventDefault(); folderCreate();">
  <input autocomplete="off" class="form-control" name="name" placeholder="Name" type="text" id="folderName">
  <button type="submit" class="btn btn-success">+</button>
</form>
{% endmacro %}

<!--Folder Edit Form-->
{% macro folder_edit_form(folder) %}
<form class="form-group" onsubmit="event.preventDefault(); folderUpdate({{ folder.id }});">
  <input autocomplete="off" class="form-control mb-2" name="name" placeholder="name" type="text" value="{{ folder.name }}" id="folderName{{ folder.id }}">
  <input autocomplete="off" class="form-control mb-2" name="description" placeholder="Description" type="text" {% if folder.description %}value="{{ folder.description }}" {% endif %} id="folderDesc{{ folder.id }}">
  <input class="form-control mb-2" name="color" type="color" value="{{ folder.color }}" id="folderColor{{ folder.id }}">
  <button type="submit" class="btn btn-dark w-100">Edit</button>
</form>
{% endmacro %}

<!--Page Add Form-->
{% macro page_add_form(folder) %}
<form action="{{ url_for('pages.page_create', id_=folder.id) }}" class="input-group" method="POST">
  <input autocomplete="off" class="form-control" name="title" placeholder="Title" type="text">
  <button type="submit" class="btn bg-dark text-light">+</button>
</form>
{% endmacro %}

<!--Page Editor Form-->
{% macro page_editor_form(page) %}
<form class="form-group col-10 offset-1" onsubmit="event.preventDefault(); savePage({{ page.id }});">
  <input onchange="savePage({{ page.id }})" id="title" autocomplete="off" class="form-control my-2" name="title" placeholder="Title" type="text" value="{{ page.title }}">
  <select onchange="savePage({{ page.id }})" class="form-control mb-2" name="folder_id" id="folder_id">
    <option>Select Folder</option>
    {% for i in folders_ %}
    <option value="{{ i.id }}" {% if i.id== page.folder_id %}selected{% endif %}>{{ i.name }}</option>
    {% endfor %}
  </select>
  <ul class="list-inline p-2 mb-2 sticky-top bg-light">
    <li class="list-inline-item" onclick="bold()">{{ bold_icon(size=25) }}</li>
    <li class="list-inline-item" onclick="italic()">{{ italic_icon(size=25) }}</li>
    <li class="list-inline-item" onclick="bullet()">{{ list_icon(size=25) }}</li>
    <li class="list-inline-item" onclick="heading()">{{ heading_icon(size=25) }}</li>
    <li class="list-inline-item" onclick="hyperlink()">{{ hyperlink_icon(size=25) }}</li>
    <li class="list-inline-item" onclick="code()">{{ code_icon(size=25) }}</li>
    <li class="list-inline-item float-end"><a href="{{ url_for('pages.page', id_=page.id) }}">{{ view_icon(size=25, color='gray') }}</a></li>
    <li class="list-inline-item float-end"><p id="saveStatus" class="text-success mx-3" style="font-size:0.9em"></p></li>
  </ul>
  <textarea onchange="savePage({{ page.id }})" id="content" autocomplete="off" class="w-100 p-3 mb-2" name="content" placeholder="Content" style="height: 600px; border-radius:10px; overflow:auto; white-space: pre-wrap;">{{ page.content }}</textarea>
  <button type="submit" class="btn bg-dark text-light w-100 fixed-bottom">Save</button>
</form>
{% endmacro %}

<!--User Login Form-->
{% macro user_login_form() %}
<form method="post" action="{{ url_for('login') }}">
  <input type="text" class="form-control mb-2" autocomplete="off" placeholder="Username" name="username">
  <input type="password" class="form-control mb-2" autocomplete="off" placeholder="Password" name="password">
  <button type="submit" class="btn btn-dark w-100">Log-In</button>
</form>
{% endmacro %}
