{% extends "base.html" %}
{% from "macros.html" import page_options with context %}

{% block body %}
<title>{{ page.title }}</title>
<div class="container">
  <div class="text-center m-5">
    <h1>{{ page.title }}</h1>
    <a href="{{ url_for('folder', id_=page.folder_id) }}" class="d-block mb-2" target="_blank">
      <span class="badge badge-primary" style="background-color: {{ page.folders.color }}">{{ page.folders.name }}</span>
    </a>
    {{ page_options(page) }}
  </div>
  <p>{{ page.content_to_html() | safe }}</p>
</div>
{% endblock %}